---
layout: default
---
<div class="posts">
  <aside>
    {% for post in site.posts %}{% unless post.tags contains 'draft' %}
    <a class="posts-link dynamic" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
    {% endunless %}{% endfor %}
  </aside>

  {% for post in site.posts %}{% unless post.tags contains 'draft' %}
  <article class="post">
    <h1>{{post.title}}</h1>
    <h2>{{post.heading}}</h2>
    <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
    {{post.content}}
    <hr>
    <p class="social">
      <span>share</span>
      <a href="http://twitter.com/share?text={{ post.title | cgi_escape }}&url={{ post.url | prepend: site.url }}&hashtags={{ post.categories | join: ',' }}" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
      <a href="http://www.reddit.com/submit/?title={{ post.title | cgi_escape }}&url={{ post.url | prepend: site.url }}" target="_blank"><i class="fa fa-reddit-square fa-lg"></i></a>
    </p>
  </article>
  {% break %}
  {% endunless %}{% endfor %}
</div>
