<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/scripts/jquery.min.js"><\/script>')</script>
    <script src="/scripts/jquery.history.js"></script>

    <!-- Dynamic Content -->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
      var siteUrl = 'http://'+(document.location.hostname||document.location.host);

      // Make sure that all clicked links that link to your internal website
      // don't just reload the page but execute a History.pushState call
      $(document).delegate('a.dynamic', "click", function(e) {
        if ($("article.post").css("visibility") == "hidden") return; // Early out if we our in mobile mode

        e.preventDefault();
        History.pushState({}, "", this.pathname);
      });

      // Catch all History stateChange events
      History.Adapter.bind(window, 'statechange', function() {
        //if ($("article.post").css("visibility") == "hidden") return; // Early out if we our in mobile mode
        var State = History.getState();

        // Load the new state's URL via an Ajax Call
        $.get(State.url, function(data) {
          // Replace the "<title>" tag's content
          document.title = $(data).find("title").text();

          // Replace the content of the main container (.content)
          // If you're using another div, you should change the selector
          $('article.post').html($(data).find('article.post').html());

          // If you're using Google analytics, make sure the pageview is registered!
          _gaq.push(['_trackPageview', State.url]);
        });
      });
    });
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
    		var _gaq = _gaq || [];
    		_gaq.push(['_setAccount', 'UA-8658511-1']);
    		_gaq.push(['_trackPageview']);
    		(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    		})();
    </script>
</head>
