<header>
  <div class="mobile-check"></div>
  <div class="texture">
    <a class="logo" href="/">TJW</a>
    <!--
    <span class="icons">
      <a href="https://twitter.com/thejustinwalsh"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://github.com/thejustinwalsh"><i class="fa fa-github fa-lg"></i></a>
      <a href="mailto:contact.me@thejustinwalsh.com?subject=hello"><i class="fa fa-commenting fa-lg"></i></a>
    </span>
    -->
    <div class="nav">
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
